<form action="/search" method="get" >
  <!-- <label for="title">title </label> -->
  <input id="title" type="search" name="title" placeholder="search" />
    
  <input type="submit" value="OK" />
</form>